*{
    margin: 0;
}

.contenedor {
    background-image: url("img/purple_city.gif");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }



p{
    font-size: xx-large;
    padding: 15%;
}

h1{
    color:rgb(255, 255, 255)
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
    width:100px;
    height:100px;
    color: #2beb64;
    border: 6px solid #2beb64;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 30px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #2beb64) drop-shadow(0 0 50px #2beb64) contrast(2) brightness(2);
    transition: .5s;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    font-size:20px;
    line-height:32px;
    text-transform: uppercase;
    background-color: rgba(72, 61, 78, 0.932);

}

#noBtn{
    transform: translate(100%, 90%);
    position: absolute;
    width:100px;
    height:100px;
    color: #f0f34f;
    border: 6px solid #f0f34f;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 30px;
    font-family: tahoma;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #f0f34f) drop-shadow(0 0 50px #f0f34f) contrast(2) brightness(2);
    transition: .5s;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    font-size:20px;
    line-height:32px;
    text-transform: uppercase;
    background-color: rgba(72, 61, 78, 0.932);

}

#yesBtn:hover {
    color: black;
    background-color: #2beb64;
    filter: drop-shadow(0 0 20px #2beb64) contrast(2) brightness(2);
  }
